<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="shortcut icon" alt="logo-zoo" href="/pictures/logo-transparent-svg.svg" />
  <script src="/script/displayOnClick.js" defer></script>
  <title>Zoo Arcadia</title>
</head>

<body>
  <header>
    <nav>
      <div class="navbar flux">
        <ul>
          <li>
            <img src="/pictures/logo-transparent-svg.svg" alt="logo-zoo-arcadia" class="logo-arcadia">
          </li>
          <li><a href="../templates/index.html">
              <img src="/icons/home.svg" alt="icone-home" class="icon-home"></a>
          </li>
          <li id="hamburger">
            <img src="/icons/menu.svg" alt="hamburger-menu">
          </li>
          <li>
            <a href="../templates/services.html">Les services<img src="/icons/arrow-down-drop-circle-black.svg"
                alt="flèche-bas" class="icon-navbar"></a>
          </li>
          <li>
            <a href="../templates/habitat.html">Les habitats<img src="/icons/arrow-down-drop-circle-black.svg"
                alt="flèche-bas" class="icon-navbar"></a>
          </li>
          <li>
            <a href="../templates/connexion.html">Connexion<img src="/icons/account.svg" alt="icone-connexion"
                class="icon-navbar"></a>
          </li>
          <li>
            <a href="../templates/contact.html">Contact <img src="/icons/phone.svg" alt="icone-telephone"
                class="icon-navbar"></a>
          </li>
        </ul>
      </div>
    </nav>
    <hr class="break-full">
  </header>

  <main>
    <section class="habitats flux">
      <h2>Nos habitats</h2>
      <div class="our-habitats">
        <div class="savannah">
          <h4 id="click-savannah">La savane</h4>
          <p>La savane est une formation végétale propre aux régions chaudes à longue saison sèche et dominée par les
            plantes herbacées de la famille des Poacées. Elle est plus ou moins parsemée d'arbres ou d'arbustes</p>
          <h5>Les animaux de la savane sont :</h5>
          <div class="tiger">
            <h6>Tigre <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-tiger">
              <div class="picture-tiger">
                <img src="/pictures/tigre.jpg" alt="photo-d'un-tigre">
              </div>
              <div class="data-tiger">
                <p>Prénom : Pomi</p>
                <p>Race : Tigre</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Antilope</p>
                <p>Quantité : 6kg</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="elephant">
            <h6>Elephant <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-elephant">
              <div class="picture-elephant">
                <img src="/pictures/éléphant.jpg" alt="photo-d'un-éléphant">
              </div>
              <div class="data-elephant">
                <p>Prénom : Dumbo</p>
                <p>Race : Elephant</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Bon</p>
                <p>Nourriture : Feuilles et herbes</p>
                <p>Quantité : 150kg</p>
                <p>Date de passage : 16/05/2024</p>
                <p>Détail supplémentaire : Devient fatigué par son âge</p>
              </div>
            </div>
          </div>
          <div class="giraffe">
            <h6>Girafe <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-giraffe">
              <div class="picture-giraffe">
                <img src="/pictures/girafe.jpg" alt="photo-d'une-girafe">
              </div>
              <div class="data-giraffe">
                <p>Prénom : Loupi</p>
                <p>Race : Girafe</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Feuilles d'acacia</p>
                <p>Quantité : 60kg</p>
                <p>Date de passage : 12/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="zebra">
            <h6>Zèbre <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-zebra">
              <div class="picture-zebra">
                <img src="/pictures/zèbre.jpg" alt="photo-d'un-zèbre">
              </div>
              <div class="data-zebra">
                <p>Prénom : Boby</p>
                <p>Race : Zèbre</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Herbe</p>
                <p>Quantité : 9kg</p>
                <p>Date de passage : 14/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="lion">
            <h6>Lion <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-lion">
              <div class="picture-lion">
                <img src="/pictures/lion.jpg" alt="photo-d'un-lion">
              </div>
              <div class="data-lion">
                <p>Prénom : Simba</p>
                <p>Race : Lion</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Bon</p>
                <p>Nourriture : Gazelle</p>
                <p>Quantité : 7kg</p>
                <p>Date de passage : 14/05/2024</p>
                <p>Détail supplémentaire : Mal à la patte avant droite</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swamp">
          <h4 id="click-swamp">Les marais</h4>
          <p>Un marais est une formation paysagère au relief relativement plat, soumise aux inondations fréquentes ou
            continues</p>
          <h5>Les animaux de la savane sont :</h5>
          <div class="alligator">
            <h6>Alligator <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-alligator">
              <div class="picture-alligator">
                <img src="/pictures/alligator.jpg" alt="photo-d'un-alligator">
              </div>
              <div class="data-alligator">
                <p>Prénom : Jojo</p>
                <p>Race : Alligator</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Poisson</p>
                <p>Quantité : 500g</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="caiman">
            <h6>Caïman <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-caiman">
              <div class="picture-caiman">
                <img src="/pictures/caiman.jpg" alt="photo-d'un-caiman">
              </div>
              <div class="data-caiman">
                <p>Prénom : Nora</p>
                <p>Race : Caïman</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Crevette</p>
                <p>Quantité : 200g</p>
                <p>Date de passage : 14/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="crocodile">
            <h6>Crocodile <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-crocodile">
              <div class="picture-crocodile">
                <img src="/pictures/crocodile.jpg" alt="photo-d'un-crocodile">
              </div>
              <div class="data-crocodile">
                <p>Prénom : Bulle</p>
                <p>Race : Crocodile</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Bon</p>
                <p>Nourriture : Grenouille</p>
                <p>Quantité : 400kg</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="anaconda">
            <h6>Anaconda <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-anaconda">
              <div class="picture-anaconda">
                <img src="/pictures/anaconda.jpg" alt="photo-d'un-anaconda">
              </div>
              <div class="data-anaconda">
                <p>Prénom : Nala</p>
                <p>Race : Tigre</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Oiseaux</p>
                <p>Quantité : 250g</p>
                <p>Date de passage : 14/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="grass-snake">
            <h6>Couleuvre à collier <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right">
              <img src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down">
            </h6>
            <div class="card-grass-snake">
              <div class="picture-grass-snake">
                <img src="/pictures/couleuvre.jpg" alt="photo-d'un-grass-snake">
              </div>
              <div class="data-grass-snake">
                <p>Prénom : Saphir</p>
                <p>Race : Couleuvre à collier</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Grenouille</p>
                <p>Quantité : 150g</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
        </div>
        <div class="jungle">
          <h4 id="click-jungle">La jungle</h4>
          <p>La jungle est une formation végétale arborée qui prospère sous un climat chaud et humide avec une courte
            saison sèche</p>
          <h5>Les animaux de la jungle sont :</h5>
          <div class="panda">
            <h6>Panda <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-panda">
              <div class="picture-panda">
                <img src="/pictures/panda-2.jpg" alt="photo-d'un-panda">
              </div>
              <div class="data-panda">
                <p>Prénom : Bouba</p>
                <p>Race : Panda</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Bambou</p>
                <p>Quantité : 12kg</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="gorilla">
            <h6>Gorille <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-gorilla">
              <div class="picture-gorilla">
                <img src="/pictures/gorille.jpg" alt="photo-d'un-gorilla">
              </div>
              <div class="data-gorilla">
                <p>Prénom : George</p>
                <p>Race : Gorille</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Feuilles et racines</p>
                <p>Quantité : 9kg</p>
                <p>Date de passage : 14/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="python">
            <h6>Python <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-python">
              <div class="picture-python">
                <img src="/pictures/python.jpg" alt="photo-d'un-python">
              </div>
              <div class="data-python">
                <p>Prénom : Jule</p>
                <p>Race : Python</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Souris</p>
                <p>Quantité : 200g</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="toucan-toco">
            <h6>Toucan toco <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-toucan-toco">
              <div class="picture-toucan-toco">
                <img src="/pictures/toucan.jpg" alt="photo-d'un-toucan-toco">
              </div>
              <div class="data-toucan-toco">
                <p>Prénom : Freddy</p>
                <p>Race : Toucan toco</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Fruit</p>
                <p>Quantité : 100g</p>
                <p>Date de passage : 15/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
          <div class="black-panther">
            <h6>Panthère noire <img src="/icons/arrow-right.svg" alt="flèche-vers-la-droite" class="arrow-right"> <img
                src="/icons/arrow-down.svg" alt="flèche-vers-le-bas" class="arrow-down"></h6>
            <div class="card-black-panther">
              <div class="picture-black-panther">
                <img src="/pictures/panthère.jpg" alt="photo-d'un-black-panther">
              </div>
              <div class="data-black-panther">
                <p>Prénom : Iris</p>
                <p>Race : Panthère noire</p>
                <h6>Donnée du vétérinaire</h6>
                <p>Etat : Très bon</p>
                <p>Nourriture : Antilope</p>
                <p>Quantité : 4kg</p>
                <p>Date de passage : 14/05/2024</p>
                <p>Détail supplémentaire :</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <hr class="break-center">
  </footer>
</body>

</html>