$background: #b2f7ef;
$primary: #00d3a9;
$secondary: #17d8e8;
$color-text: white;

* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

body {
  background: $background;
  // overflow: hidden;
}

.flux {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

a {
  text-decoration: none;
}
